<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Hii
        <%= name %>
    </p>
    <p>
        Someone requested a new password for your [customer portal] account.</p>
    <div>
        <a class="btn" href=<%=link %>>
            Reset your password
        </a>
    </div>
    <p> If you didn’t make this request, then you can ignore this email 🙂</p>
</body>