<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Hii
        <%= name %>
    </p>
    <p> We're happy to see you onboard !! 🙂</p>
    <p>
        Please verify your email by clicking on this link !</p>
    <div>
        <a class="btn" href=<%=link %>>
            verify email
        </a>
    </div>
    <p>
        This message was intended for
        <%=email %>
    </p>
</body>